/*header*/
hgroup {
    margin-bottom: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgb(204, 204, 204);
}
    hgroup h1 {
        color: #999;
    }
    hgroup h2 {
        font-size: 1.4em;
        margin-top: 0;
    }
/*/header*/
body {
    font: 100%/1 Verdana, Tahoma, sans-serif;
    color: #333333;
}
h1,h2 {
    color: #ff6600;
    text-align: center;
}
/*footer*/
footer {
    border-top: 1px solid rgb(204, 204, 204);
}
    footer p {
        text-align: center;
        padding-top: 4px;
        margin-top: 6px;
    }
/*/footer*/

#content {
    margin: 30px auto;
    width: 90%;
    padding: 8px;
}
.box {
    border:1px solid #ccc;
    border-radius: 4px;
    box-shadow:0 0 2px #ccc;
}

/*a*/
a:link {
    color: #0000d0;
}
a:visited {
    color: #AA00AA;
}
/*/a*/
/*nav*/
nav.navigate {
    text-align: center;
    padding: 10px;
}
nav.navigate a {
    margin: 5px;
}
/*/nav*/
li span {
    margin: auto 6px;
}
input {
    margin: 6px auto;
}
.important {
    background-color: #FFFFCC;
    color: #B22222;
    font-weight: bold;
}
.center {
    display: block;
    margin: 0 auto;
}
/*Classes for test and exam.*/
.errorclass {
    color: red;
}
.rightclass {
    color: green;
}